body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);

}

.container {
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.title {
    font-size: 2em;
    color: #333;
    margin-bottom: 10px;
}

.version {
    font-size: 1.2em;
    color: #555;
}

.status {
    font-size: 1em;
    color: #4CAF50;
    margin: 15px 0;
}

.swagger-link {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
    border: 1px solid #007bff;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 10px;
    display: inline-block;
}

.swagger-link:hover {
    background-color: #007bff;
    color: white;
}
