DATABASE_URL=jdbc:postgresql://devbflowdb.innovaciones.co:5432/bflowdb
DATABASE_HOST=devbflowdb.innovaciones.co
DATABASE_PORT=5432
DATABASE_DB=bflowdb
DATABASE_USERNAME=bflowuser
DATABASE_PASSWORD=bflowpass