DATABASE_URL=jdbc:postgresql://localhost:5433/bflowdb
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_DB=bflowdb
DATABASE_USERNAME=bflowuser
DATABASE_PASSWORD=bflowpass

STORAGE_REGION=us-west-1
STORAGE_ACCESS_KEY=XXXXXXX
STORAGE_SECRET_KEY=XXXXXXXX
STORAGE_BUCKET=bflow
STORAGE_ENDPOINT=https://us-mia-1.linodeobjects.com

JWT_SECRET=xxxxxxxxxxxxxxxxxxxxxxxxx

DOCKER_USERNAME=docker
DOCKER_SECRET=xxxxxxxxxxxxxxxxxxxxxxxxx

SENDINBLUE_API_KEY=xxxxxxxxxxxxxxxxxxxxxxxxx
SENDINBLUE_FROM_EMAIL=test@mail.com
SENDINBLUE_TASK_TEMPLATE=1
SENDINBLUE_PASSWORD_TEMPLATE=2
SENDINBLUE_USER_CREATED_TEMPLATE=3