<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" />
<head>
    <meta charset="UTF-8">
    <title th:text="'Purchase Order - ' + ${order.number}"></title>

    <link rel="stylesheet" th:href="${'/assets/css/base.css'}">
</head>
<body class="A4">
<section class="sheet padding-10mm">
    <h1 th:text="'Purchase Order -' + ${order.number}"></h1>

    <div id="logo">
        <img th:src="${'/assets/img/sh_logo.png'}">
    </div>

    <p th:text="'Date: ' + ${#temporals.format(order.createdDate,'EEEE d MMM, yyyy')}"></p>
    <p th:text="'Order No.: ' + ${order.number}"></p>

    <p>Job Site: </p>
    <p th:text="'Address: ' + ${job.address}"></p>
    <p th:text="'Phone: ' + ${job.client.phone}"></p>
    <p>ABN: 86150702239 ACN: 150702239 Reg No: 13696</p>
    <p th:text="'Supplier: ' + ${supplier.name}"></p>
    <p>Ph: </p>



    <table>
        <thead>
        <tr>
            <th>Material</th>
            <th>Units</th>
            <th>Measure</th>
            <th>Unit cost</th>
            <th>VAT</th>
            <th>Cost</th>
        </tr>
        </thead>
        <tbody>
        <div th:each="category : ${categories}">
            <tr>
                <td class="category" colspan="6" th:text="${category.id} + ' - ' +${category.name}"></td>
            </tr>

            <tr th:each="item : ${order.orderItems}" th:if="${category.id == item.category}">
                <td th:text="${item.name}"></td>
                <td class="ta-center" th:text="${item.units}">
                <td class="ta-center" th:text="${item.measure}">
                <td class="ta-right" th:text="'$' + ${item.unitPrice}"></td>
                <td class="ta-center" th:text="${item.vat * 100} + '%'"></td>
                <td class="ta-right" th:text="'$' + ${item.price}"></td>
            </tr>
        </div>
        </tbody>

        <tfoot>
        <tr>
            <td style="border:none" colspan="6"></td>
        </tr>
        <!--<tr>
            <td style="border:none" colspan="4"></td>
            <td style="border:none;text-align:right">SUBTOTAL:</td>
            <td class="amount subtotal">0.00</td>
        </tr>
        <tr>
            <td style="border:none" colspan="4"></td>
            <td style="border:none;text-align:right">SALES TAX:</td>
            <td class="amount subtotal">0.00</td>
        </tr>
        <tr>
            <td style="border:none" colspan="4"></td>
            <td style="border:none;text-align:right">SHIPPING & HANDLING:</td>
            <td class="amount subtotal">0.00</td>
        </tr> -->
        <tr>
            <td style="border:none" colspan="4"></td>
            <td style="border:none" class="ta-right">TOTAL:</td>
            <td class="amount subtotal" th:class="ta-right" th:text="'$' + ${total}"></td>
        </tr>
        </tfoot>
    </table>
</section>
</body>
</html>