<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" th:href="${'/assets/css/style.css'}">
</head>
<body>
<div class="container">
    <h1 class="title" th:text="${appName}"></h1>
    <p class="version" th:text='${"Version: "} + ${appVersion}'></p>
    <p class="status">The API server is running.</p>
    <a th:href="${swaggerPath}" class="swagger-link">Go to Swagger Documentation</a>
</div>
</body>
</html>
